<div class="user-details">
  <h1> Resume </h1>
  <!-- <p> {{site.user_description}} </p> -->
  <p>Download PDF
    <a href="{{ " /assets/img/acrobat.png " | prepend: site.baseurl }}">
      <img src="{{ " /assets/img/acrobat.png " | prepend: site.baseurl }}" alt="resume PDF"> </a>
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-django colored"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-csharp colored"></i>
    <i class="devicon-python colored"></i>
    <i class="devicon-dot-net"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-visualstudio colored"></i>
    <i class="devicon-mysql"></i>
    <p>Looks like there's no MSSQL or TSQL</p>
  </div>
</div>