<div class="user-details">
  <h1> Resume </h1>
  <!-- <p> {{site.user_description}} </p> -->
  <p>Download
    <a href="{{ "/assets/EduardoCervantesResume.pdf" | prepend: site.baseurl }}">PDF</a>.
    <br>I'm currently employed.
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-csharp-plain"></i>
    <i class="devicon-python-plain colored"></i>
    <!-- <i class="devicon-dot-net-plain colored"></i> -->
    <p>C#, TSQL, Python, Flutter, Dart, Bash</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-visualstudio-plain"></i>
    <img alt="quotes" src="{{ "/assets/img/mssqlserver.png " | prepend: site.baseurl }}" />
    <p>Visual Studio, VSCode, Google Cloud, Git, TFS, SQLServer, SQLite, SSIS</p>
  </div>
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-django-plain colored "></i>
    <p>HTML5, Bootstrap, Django, CSS, Photoshop, XAML, SSRS</p>
  </div>

</div>