<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
      <img alt="quotes" src="{{ "/assets/img/quotes.png " | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Android Quotes App </h3>
    <ul>
      <li>Xamarin Android</li>
      <li>C#</li>
      <li>Firebase</li>
      <li>MySql</li>
      <li>PHP</li>
      <li>Python</li>
    </ul>
    <p> Android app built to display a daily random quote using a MySql/PHP backend server. Quotes were scraped using a python.</p>
    <br>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.eddyizm.quotes&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">Check it out</a>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="quotes" src="{{ "/assets/img/quotes.png " | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->

<div id="contact">
  <h1> Contact </h1>
  <form id="contact-form" class="user-projects">
    <div class="contents-right">
       <span><i class="fa fa-envelope-o fa-fw"></i></span>
       <input class="form-control" type="email" name="_replyto" required placeholder="email@address.com">
    </div>
    <br>
    <div class="contents-right">
      <span><i class="fa fa-pencil fa-lq" ></i></span>
      <textarea class="form-control" name="message" placeholder="Message" required rows="2"></textarea>
    </div>
    <div>
      <button id="sendBtn" class="button" type="submit">Send</button>
    </div>
  </form>
  <div id="submit-success" style= "display: none;">
    Message received! I'll be in touch.
  </div>
  <div id="submit-errors" style= "display: none;">
    It looks like there was an error submitting the form. Please try again later.
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script>
  $("#contact-form").validate({
    submitHandler: function (form) {
      $.ajax({
        url: "//formspree.io/eddyizm@me.com",
        method: "POST",
        data: {
          _replyto: $(form).find("input[name='_replyto']").val(),
          message: $(form).find("textarea[name='message']").val()
        },
        dataType: "json",
        success: function() {
        $("#submit-success").fadeIn();
        $("#contact-form").fadeOut();
      },
      error: function() {
        $("#submit-errors").fadeIn();        
      }
      });
    }
  });
</script>