<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
      <img alt="quotes" src="{{ "/assets/img/quotes.png " | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Android Quotes App </h3>
    <ul>
      <li>Xamarin Android</li>
      <li>C#</li>
      <li>Firebase</li>
      <li>MySql</li>
      <li>PHP</li>
      <li>Python</li>
    </ul>
    <p> Android app built to display a daily random quote using a MySql/PHP backend server. Quotes were scraped using a python.</p>
    <br>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.eddyizm.quotes&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="InstaDelete" src="{{ "/assets/img/insta_delete.png " | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Insta Delete </h3>
    <ul>
      <li>Python</li>
      <li>Selenium</li>
      <li>BS4</li>
      
    </ul>
    <p>Selenium, BS4 powered script to delete old instagram posts.
      
    </p>
    <a class="project-link" href="https://github.com/eddyizm/insta_delete">Check it out</a>
  </div>
</div>

<div id="contact" class="user-projects" style="align-content: center">
  <h1> Contact </h1>
  <form id="contact-form">
    <div class="contents">
       
       <input class="form-control" type="email" name="_replyto" required placeholder="email@address.com">
    </div>
    <br>
    <div class="contents" >
      
      <textarea class="form-control" name="message" placeholder="Message" required rows="5"></textarea>
    </div>
    <div>
      <button id="sendBtn" class="project-link" type="submit">Send</button>
    </div>
  </form>
  <div id="submit-success" style= "display: none;">
    Message received! I'll be in touch.
  </div>
  <div id="submit-errors" style= "display: none;">
    It looks like there was an error submitting the form. Please try again later.
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script>
  $("#contact-form").validate({
    submitHandler: function (form) {
      $.ajax({
        url: "//formspree.io/eddyizm@me.com",
        method: "POST",
        data: {
          _replyto: $(form).find("input[name='_replyto']").val(),
          message: $(form).find("textarea[name='message']").val()
        },
        dataType: "json",
        success: function() {
        $("#submit-success").fadeIn();
        $("#contact-form").fadeOut();
      },
      error: function() {
        $("#submit-errors").fadeIn();        
      }
      });
    }
  });
</script>